.prepodavatel {
    height: 80vh;
    width: 100%;
    background-image: url('../../assets/img/fon-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    .prepodavatel__container {
        .prepodavatel__user {
            .teacher {
                overflow-x: auto;
            }
        }
    }
}




@media screen and (max-width:830px) {
    .prepodavatel {
        .prepodavatel__container {
            .prepodavatel__user {
                .teacher {
                    .user_1 {
                        margin-left: 100px;
                    }
                }
            }
        }
    }
    
}

@media screen and (max-width:730px) {
    .prepodavatel {
        height: 100vh;
        .prepodavatel__container {
            .prepodavatel__user {
                .teacher {
                    .user_1 {
                        margin-left: 200px;
                    }
                }
            }
        }
    }
    
}

@media screen and (max-width:600px) {
    .prepodavatel {
        height: 80vh;
        .prepodavatel__container {
            .text__head {
                font-size: 30px;
            }
            .prepodavatel__user {
                .teacher {
                    .user_1 {
                        margin-left: 300px;
                    }
                }
            }
        }
    }
    
}

@media screen and (max-width:450px) {
    .prepodavatel {
        .prepodavatel__container {
            .prepodavatel__user {
                .teacher {
                    .user_1 {
                        margin-left: 400px;
                    }
                }
            }
        }
    }
    
}